<div class="row">
  <div class="col-xs-8 col-xs-offset-2 padding -top -bottom -small">
    <h1>Welcome</h1>
    <br/>
    <br/>
    <%= link_to 'Overview', overview_path, class: 'h4'%>
  </div>
</div>