.padding {

  &.-medium {
    padding: 20px !important;
  }

  &.-top {
    &.-small {
      padding-top: 10px !important;
    }
    &.-large {
      padding-top: 40px !important;
    }
  }

  &.-right {
    &.-small {
      padding-right: 10px !important;
    }
  }

  &.-bottom {
    &.-small {
      padding-bottom: 10px !important;
    }
    &.-large {
      padding-bottom: 40px !important;
    }
  }
}

.remove-padding {
  padding: 0px !important;
}